In [1]:
import pandas as pd
import requests
import matplotlib.pyplot as plt
import sqlite3 as lite
import sqlalchemy
%matplotlib inline

In [2]:
r = requests.get('http://acleddata.com/api/acled/read')

In [3]:
data = r.json()
data_set = data['data']

In [4]:
df = pd.DataFrame(data_set)

In [26]:
con = lite.connect('acled6.db')
cur = con.cursor()

In [34]:
sql_string = "CREATE TABLE acled(index INTEGER,actor1 TEXT,actor2 TEXT,admin1 TEXT,admin2 TEXT,admin3 TEXT,ally_actor_1 TEXT,ally_actor_2 TEXT,country TEXT,data_id INTEGER PRIMARY KEY NOT NULL,event_date TEXT,event_id_cnty TEXT,event_id_no_cnty REAL,event_type TEXT,fatalities INTEGER,geo_precision INTEGER,gwno INTEGER,inter1 INTEGER,inter2 INTEGER,interaction INTEGER,latitude REAL,location TEXT,longitude REAL,notes TEXT,source TEXT,time_precision INTEGER,year INTEGER)"

In [37]:
cur.execute("CREATE TABLE acled (actor1 TEXT,actor2 TEXT,admin1 TEXT,admin2 TEXT,admin3 TEXT,ally_actor_1 TEXT,ally_actor_2 TEXT,country TEXT,data_id INTEGER PRIMARY KEY NOT NULL,event_date TEXT,event_id_cnty TEXT,event_id_no_cnty REAL,event_type TEXT,fatalities INTEGER,geo_precision INTEGER,gwno INTEGER,inter1 INTEGER,inter2 INTEGER,interaction INTEGER,latitude REAL,location TEXT,longitude REAL,notes TEXT,source TEXT,time_precision INTEGER,year INTEGER)")

In [38]:
df.to_sql('acled', con, if_exists='append', index=False)

In [39]:
cur.execute('PRAGMA TABLE_INFO({})'.format('acled'))

# collect names in a list
names = [tup[1] for tup in cur.fetchall()]
print(names)
# e.g., ['id', 'date', 'time', 'date_time']

# Closing the connection to the database file
con.close()

[u'actor1', u'actor2', u'admin1', u'admin2', u'admin3', u'ally_actor_1', u'ally_actor_2', u'country', u'data_id', u'event_date', u'event_id_cnty', u'event_id_no_cnty', u'event_type', u'fatalities', u'geo_precision', u'gwno', u'inter1', u'inter2', u'interaction', u'latitude', u'location', u'longitude', u'notes', u'source', u'time_precision', u'year']

In [42]:
con = lite.connect('acled6.db')
new_df = pd.read_sql('acled', con)

DatabaseError: Execution failed on sql 'acled': near "acled": syntax error