In [1]:
import pandas as pd
import requests
import sqlite3

1. download data
2. Put into pandas dataframe
3. set up sql
4. insert data into sql
5. set data_id as primary key
6. download primary key, and run dedupe

In [2]:
r = requests.get('http://acleddata.com/api/acled/read')
data = r.json()
data_set = data['data']

In [9]:
df = pd.DataFrame(data_set)
df_with_id = df.set_index('data_id')

In [10]:
con = sqlite3.connect('sept_acled.db')

In [21]:
df.to_sql('acled', con, if_exists='replace', index=False)

In [50]:
df_from_sql_data_id = pd.read_sql('SELECT event_id_cnty FROM acled', con)

In [51]:
df_from_sql_data_id.head()

  event_id_cnty
0      11504RTA
1      11519RTA
2      11518RTA
3      11503RTA
4      11416RTA

In [52]:
exisiting_id_list = df_from_sql_data_id['event_id_cnty'].tolist()

In [53]:
#Creates a second table with existing data ids
df_from_sql_data_id.to_sql('event_id_cnty', con, if_exists='replace')

A db has been created with two tables:

1. acled
2. data_id
3. load acled master set into a dataframe
4. compare data_id to  "data_id" table
5. create new dataframe with deduped tables
6. append new table to data_id
7. store new data_ids and append to 'data_id"

## Read in ACLED Data Set

In [41]:
df_acled_complete = pd.read_excel('acledmaster_tosql.xlsx', sheetname=0)

In [46]:
df_acled_complete.columns

Index([            u'GWNO',    u'EVENT_ID_CNTY', u'EVENT_ID_NO_CNTY',
             u'EVENT_DATE',             u'YEAR',   u'TIME_PRECISION',
             u'EVENT_TYPE',           u'ACTOR1',     u'ALLY_ACTOR_1',
                 u'INTER1',           u'ACTOR2',     u'ALLY_ACTOR_2',
                 u'INTER2',      u'INTERACTION',          u'COUNTRY',
                 u'ADMIN1',           u'ADMIN2',           u'ADMIN3',
               u'LOCATION',         u'LATITUDE',        u'LONGITUDE',
          u'GEO_PRECISION',           u'SOURCE',            u'NOTES',
             u'FATALITIES'],
      dtype='object')

## Compare dc_acled_complete "data_id" with exisitng list

compares event_id_cnt and adds to dataframe those values that are not in exisiting id list

In [59]:
df_deduped = df_acled_complete[df_acled_complete['EVENT_ID_CNTY'].isin(exisiting_id_list)==False]

## Append df_deduped to database, table sept_acled.db

In [66]:
df_deduped.to_sql('acled', con, if_exists="append", index=False)

## Append new ids to exisitng_id_list and save to database

In [76]:
new_ids = df_deduped['EVENT_ID_CNTY']
new_ids.to_sql('event_id_cnty', con, if_exists='append')

In [77]:
#id_list = pd.read_sql('SELECT * FROM event_id_cnty', con)